<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODOLIST - AngularJS</title>
    <!-- Theme -->
    <link rel="stylesheet" href="../theme.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- JS Lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- JS code -->
    <script src="angularjs-example.js"></script>
</head>
<body ng-app="todoApp" ng-controller="todoListController">
    <div>
        <h1>Todo Form ({{formModel.id ? 'Change Model @id=' + formModel.id : 'Insert New'}})</h1>
        <form name="todoForm">
            <div class="form-group">
                <label for="title">Title *</label>
                <input ng-model="formModel.title" ng-required="true" type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="description">Description *</label>
                <input ng-model="formModel.description" ng-required="true" type="text" class="form-control" id="description" placeholder="Description">
            </div>
            <button ng-disabled="todoForm.$invalid" class="btn btn-default" ng-click="submitForm()">Save</button>
        </form>
    </div>
    <div>
        <h1>Todo List</h1>
        <p ng-if="todoModels.length == 0">No models found</p>
        <table ng-if="todoModels.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th width="60">#</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in todoModels">
                <td>
                    <a href ng-click="editModel(model)"><span class="glyphicon glyphicon-pencil"></span></a>
                    &nbsp;
                    <a href ng-click="removeModel(model)"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                </td>
                <td>{{model.title}}</td>
                <td>{{model.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>